/*--------------------------------------------------------------*/
body{
    background-image: url(../imagenes/dalia.jpg);
    background-size: cover;
    color: rgb(41, 238, 178);
    display: flex;
    flex-direction: column;
    align-content: center;
}




/*--------------------------------------------------------------*/
h2{
    text-align: left;
}
h3{
    color: aliceblue;
}



/*--------------------------------------------------------------*/
header{
    width: 100%;
    height: 4rem;
    background-color: rgba(229, 233, 241, 0);
    color: rgb(211, 199, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}




/*--------------------------------------------------------------*/
aside{
    width: 100%;
    height: 45rem;
    background-color: rgba(158, 191, 255, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
}




/*--------------------------------------------------------------*/
footer{
    width: 100%;
    height: 1rem;
    color: rgb(225, 255, 194);
    background-color: rgba(229, 233, 241, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}